body {
  font-family: "Noto Serif KR", serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#name-div {
  padding: 2rem;
}

#des-div {
  display: flex;
  justify-content: space-around;
}

.subtitle {
  font-weight: 900;
}

.section {
  margin-right: 2rem;
  min-width: 19rem;
  min-height: 605px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe;
  padding-bottom: 2rem;
}

.parent {
  position: relative;

}

.hide {
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 60px #bebebe;
  position: absolute;
  top: 0px;
  bottom: 0px;

  opacity: 1;
  transition: 0.3s;
}

.hide:hover {
  /* display: none; */
  opacity: 0;
}

.button {
  margin: auto;
  font-size: 1.4rem;
  font-weight: normal;
}

.hide:hover .button {
  animation: move-title 3s linear forwards;
}

@keyframes move-title {
  from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0px, -800%);
	}
}

#wonju {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

#tak {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

#qr {
  width: 10rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.list {
  list-style-type: none;
}

li {
  line-height: 2rem;
}